.card-container {
    display:flex;
    flex-direction: column;
    background-color: #60cd58;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
    cursor: pointer;
    font-size: 12px;
}
gap: 5px;
transform: translateZ(0);
transition: transform 0.25s ease-out;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;

.card-container:hover {
    transform: scale(1.05);
}

.cardImage {
    max-width:fit-content;
    align-self: center;
    max-height: 170px;
    border-radius: 5px;
}

.link {
    color:black;
    text-decoration: none;
    background: linear-gradient(to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%);
}

/* display: flex;  //para que se muevan libremente los elementos dentro del contenedor
    flex-direction: column; // separe los elementos y los ponga en linea
    background-color: #95dada;  //color de fondo
    border: 1px solid grey;  //borde a la tarjeta, linea solida
    border-radius: 5px;  // borde en radio a la tarjeta
    padding: 25px; //los elementos tengan un margen interios
    cursor: pointer;  //para que el cursor cambie a manito al pasar por esta tarjeta
    -moz-osx-font-smoothing: grayscale; //
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;  // para que el salto de la tarjeta sea gradual
    
    grey .card-container:hover {  //para que se agrande 1.05 la tajeta al pasar por encima de ella
    transform: scale(1.05);
    
    */