body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('https://images.ecestaticos.com/gdZbptIDE8BayYRvTbJUbWAkEKU=/0x0:1254x837/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fd77%2F7dc%2Faa6%2Fd777dcaa6c812b3e54afc49bc0a46acc.jpg')
    /* background: linear-gradient(to left,
            rgba(7, 27, 82, 1) 0%,
            rgba(0, 128, 128, 1) 100%); */
    /* text-align: center; */
}

.home-title {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 25px;
    color: #eccac4;
    font-family: "Bigelow Rules";
    margin: 0;
}

.home {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

}

.botoneCreateHome {
    display: block;
    width: 40%;
    height: auto;
}

.botonNavbarHome {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgb(82, 82, 82);
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
}

.cards8 {
    overflow-x: auto;
    flex-direction: row;

}

.contenedor {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    box-sizing: border-box;
}

.galeria-item {
    flex: 0 0 23%;
    /* 23% para dejar espacio entre las imágenes */
    margin-bottom: 20px;
}

.galeria-item img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 
linear-gradient // agregar un color en linea gradeant, se va vifuminando hacia la izq

display: flex;   // los elementos se puedan distribuir
    flex-direction: column;  // direccion en columna
    align-items: center;  // que todos queden centrados
*/